/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* Imports */



/* Keyframes */
@keyframes headerAppear {
  0% {
    opacity: 0;
    transform: translateY(-5em);
  }
  30% {
    opacity: 0;
  }
  100% {
  }
}
@keyframes footerAppear {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }
  30% {
    opacity: 0;
  }
  100% {
  }
}
@keyframes bioAppear {
  0% {
    opacity: 0;
    transform: translateX(-10em);
  }
  30% {
    opacity: 0;
  }
  100% {
  }
}
/* Keyframes */

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
/* RESET CSS */

/* Html, Body */
html,
body {
  animation: start 2s both;
}
/* Html, Body */

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
  min-height: 100vh;
}
/* Container */

/* Header */
.headerContainer {
  background-color: #151515;
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: headerAppear 1s both;
  animation-delay: 1s;
}
.headerLogoContainer {
  display: flex;
  width: 100%;
}
.headerLogo {
  background: url(./components/images/logo.png);
  background-position: center;
  background-size: cover;
  width: 64px;
  height: 64px;
}
.headerNavLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.headerNav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.headerCart {
  background: url(./components/images/cart.png);
  background-position: center;
  background-size: cover;
  width: 48px;
  height: 48px;
}
/* Header */

/* Footer */
.footerContainer {
  background-color: #151515;
  color: white;
  width: 100%;
  height: 70px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  animation: footerAppear 1s both;
  animation-delay: 1s;
}
.footerMediaLinks {
  display: none;
}
/* Footer */

/* Biography Container */
.biographyContainer {
  min-height: 100vh;
  display: grid;
gap: 2em;
  padding: 20px;
  color: white;
  grid-template-columns: 700px;
}
.header {
  text-align: center;
  color: white;
  background-color: #151515;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregamos un sombreado al texto */
}

.bio,
.experience,
.contact {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 1em 0.2em #151515;
  background-color: #151515;
}
.learnShotBtnContainer{
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.learnShotBtn{
  background-color: #151515;
  color: white;
  border: none;
  width: 90%;
  box-shadow: none;
  font-size: 16px;
  border-radius: 0.3em;
  height: 45px;
  transition: 0.4s;
border-bottom: 3px solid white;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.learnShotBtn:active{
border-bottom: 3px solid white;

  transition: 0.4s;
  transform: translateY(-0.3em) scale(1.1);
}
.bio h2, .experience h2, .contact h2{
  margin-bottom: 0.5em;
  border-bottom: 1px solid #151515;
transition:0.3s;
}
.bio h2:hover, .experience h2:hover, .contact h2:hover{
  border-bottom: 1px solid white;
  transition:0.3s;
}
.contact {
  gap: 1em;
}
.rrss {
  display: flex;
  gap: 1em;
}
.instagram {
  background: url(./components/images/instagram.png);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}
.facebook {
  background: url(./components/images/facebook.png);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}
.whatsapp {
  background: url(./components/images/whatsapp.png);
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}
/* Biography Container */

/* Courses Container */
.coursesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 4em;
}
.coursesTitle {
  text-align: center;
  color: white;
  font-size: 36px; 
  margin-bottom: 1em;
  background-color: #151515;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.course {
  padding: 1em;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 0 1em 0.2em #151515;
  background-color: #151515;
  color: white;
  cursor: pointer;
  text-decoration: none;

  transition: 1s;
}
.course:active {
  box-shadow: inset 0em -2em 5em 1em white;
  color: #151515;
  transition: 0.4s;
  transform: translateY(-0.3em) scale(1.1);
}

/* Courses Detail */

.course-detail-container {
  display: flex;
  background-color: #151515;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  min-height: 300px;
  margin-bottom: 5em;
  width: 40%;
  margin-top: 1em;
}

.course-detail-content {
  flex: 1;
}

.course-detail-title {
  display: flex;
  align-self: flex-start;
  margin: 0;
  font-size: 24px;
}

.course-detail-text {
  margin: 10px 0;
}

.course-detail-hours {
  display: flex;
  justify-content: center;
  align-self: end;
  gap: 0.5em;
  opacity: 0.5; /* Opacidad del texto de las horas */
}
.course-detail-hours-text {
  font-size: 16px;
  margin-bottom: 5px;
  align-self: flex-end;
}

/* Courses Detail */

/* Courses Container */

/* Home Container */
.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}
.homeTitle {
  color: white;
}
.homeLogo {
  background: url(./components/images/logo.png);
  background-size: cover;
  background-position: center;
  width: 256px;
  height: 256px;
}
.homeBtn {
  background-color: #151515;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 24px;
  border-radius: 0.3em;
  width: 200px;
  height: 45px;
  transition: 0.4s;
  cursor: pointer;
}
.homeBtn:active {
  box-shadow: inset 0em -2em 5em 1em white;
  color: #151515;
  transition: 0.4s;
  transform: translateY(-0.3em) scale(1.1);
}
/* Home Container */

/* Shop Container */
.shopContainer {
}
/* Shop Container */

/* Cart Container */
.cartcontainer {
}
/* Cart Container */

/* Coming Soon... */
.coming-soon-container {
  text-align: center;
  padding: 50px;
  background-color: #151515;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coming-soon-title {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}

.coming-soon-description {
  font-size: 18px;
  color: #666;
}
/* Coming Soon... */


/* Admin Page */
.adminPageContainer{

}
.adminPageTitle{
color: white;
margin-bottom: 1em;
}
.adminPageList{
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.adminLink{
  font-size: 32px;
  text-decoration: none;
  color: white;
  background-color: #151515;
  width: 100%;
  height: 50px;
  border-radius: 1em;
text-align: center;
transition: 0.4s;
}
.adminLink:active{
  box-shadow: inset 0em -2em 5em 1em white;
  color: #151515;
  transition: 0.4s;
  transform: translateY(-0.3em) scale(1.1);
}
.adminPageCourses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adminCoursesList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
  margin-top: 1em;

}
.adminPageCoursesCreateBtn{
  background-color: #151515;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 24px;
  border-radius: 0.3em;
  width: 200px;
  height: 45px;
  transition: 0.4s;
  cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1em;
}
.adminPageCoursesCreateBtn:active{
  box-shadow: inset 0em -2em 5em 1em white;
  color: #151515;
  transition: 0.4s;
  transform: translateY(-0.3em) scale(1.1);
}
.adminCoursesListTitle{
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.createCourseForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.courseFormTitle{
background-color: #151515;
color: #d9d9d9;
padding: 0.3em;
border-radius: 0.2em;
margin-bottom: 0.3em;
}
.courseFormInput{
margin-bottom: 1em;
width: 400px;
background-color: #151515;
color: #d9d9d9;
padding: 0.4em;
border: none;
outline: none;
height: 40px;
border-radius: 0.2em;
border-bottom: 2px solid white;
}
.courseFormBtn{
  background-color: #151515;
  color: white;
  border: none;
  width: 90%;
  box-shadow: none;
  font-size: 16px;
  border-radius: 0.3em;
  height: 45px;
  transition: 0.4s;
  border-bottom: 3px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseFormBtn:hover{
  width: 100%;
  transition: 0.4s;
}
.courseFormBtn:active{
  transform: scale(1.1);
  transition: 0.4s;
  position: relative;
  top: 1px;
}
.courseDelete{
position: relative;
z-index: 10;
border-left: 1px solid #d9d9d9;
padding-right: 0.5em;
}
.courseAdmin{
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0;
height: 70px;
}
.courseLink{
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Admin Page */


/* Auth */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  color: white;
  background-color: #151515;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Auth */
/* Media 1200 */
@media (max-width: 1200px) {
  /* Footer Media 1200 */
  .footerContainer {
    font-size: 18px;
  }
  /* Footer Media 1200 */

  /* Home Media 1200 */
  .homeLogo {
    width: 200px;
    height: 200px;
  }
  .headerNav {
    gap: 2em;
  }
  /* Home Media 1200 */

  /* Biography Media 1200 */
  .biographyContainer div:nth-child(2) {
    animation: bioAppear 1s both;
  }
  .biographyContainer div:nth-child(3) {
    animation: bioAppear 1s both;
    animation-delay: 0.5s;
  }
  .biographyContainer div:nth-child(4) {
    animation: bioAppear 1s both;
    animation-delay: 1s;
  }
  .biographyContainer{
    grid-template-columns: 600px;

  }
  /* Biography Media 1200 */

  /* Courses Media 1200 */
  .course {
    min-width: 400px;
  }
  .course-detail-container {
    width: 50%;
  }
  /* Courses Media 1200 */
}
/* Media 1200 */

/* Media 768 */
@media (max-width: 768px) {
  /* Container Media 768 */
  .container {
    justify-content: center;
    overflow-x: hidden;
  }
  /* Container Media 768 */

  /* Header Media 768 */
  .headerContainer {
    display: none;
  }
  /* Header Media 768 */

  /* Footer Media 768 */
  .footerContainer {
    position: fixed;
    bottom: 0;
  }
  .footerContainer p {
    display: none;
  }
  .footerMediaLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .footerMediaLinks a {
    color: white;
  }
  .footerMediaLink {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .footerMediaLink:hover {
    transition: 0.3s;
  }

  .borderLinkActive {
    border-bottom: 1px solid white;
    font-size: 32px !important;
  }
  /* Footer Media 768 */

  /* Home Media 768 */
  .homeContainer {
  }
  .homeLogo {
    width: 128px;
    height: 128px;
  }
  .homeBtn {
    font-size: 24px;
    padding: 0.2em 1em 0.2em 1em;
    width: 156px;
    height: 45px;
  }

  /* Home Media 768 */

  /* Biography Media 768 */
  .biographyContainer {
    margin-bottom: 5em;
    grid-template-columns: 400px;
  }
  /* Biography Media 768 */

  /* Courses Media 768 */
  .coursesContainer {
  }
  .course {
    min-width: 300px;
    font-size: 16px;
  }
  .course-detail-container {
    width: 100%;
  }
  /* Courses Media 768 */
}

/* Media 768 */
