/* Keyframes */

/* Keyframes */

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;

}
/* RESET CSS */

/* Html, Body */
html,
body {
  animation: start 2s both;
  height: 100vh;
}
/* Html, Body */

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
}
/* Container */

/* Header */
.headerContainer {
  background-color: #151515;
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLogoContainer {
  display: flex;
  width: 100%;
}
.headerLogo {
  background: url(./components/images/logo.png);
  background-position: center;
  background-size: cover;
  width: 64px;
  height: 64px;
}
.headerNavLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.headerNav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.headerCart {
  background: url(./components/images/cart.png);
  background-position: center;
  background-size: cover;
  width: 48px;
  height: 48px;
}
/* Header */

/* Footer */
.footerContainer {
  background-color: #151515;
  color: white;
  width: 100%;
  height: 70px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.footerMediaLinks{
  display: none;
}
/* Footer */

/* Biography Container */
.biographyContainer{

}
/* Biography Container */




/* Courses Container */
.coursesContainer{

}
/* Courses Container */




/* Home Container */
.homeContainer{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 80%;
gap: 1em;
}
.homeLogo{
  background: url(./components/images/logo.png);
  background-size: cover;
  background-position: center;
  width: 128px;
  height: 128px;
}
.homeBtn{
  background-color: #151515;
  color: white;
  border: none;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 24px;
  border-radius: 0.3em;
  padding: 0.2em 1em 0.2em 1em;
  transition:0.4s;
}
.homeBtn:active{
  box-shadow: inset 0em 0em 1em 1em white;
  color: #151515;
  transition:0.4s;
}
/* Home Container */




/* Shop Container */
.shopContainer{

}
/* Shop Container */




/* Cart Container */
.cartcontainer{

}
/* Cart Container */


/* Media 1200 */
@media (max-width:1200px) {

  

/* Footer Media 1200 */
.footerContainer{
font-size: 18px;
}
/* Footer Media 1200 */




}
/* Media 1200 */





/* Media 768 */
@media (max-width:768px) {

/* Container Media 768 */
.container{
  overflow: hidden;
}
/* Container Media 768 */


  /* Header Media 768 */
.headerContainer{
  display: none;
}
  /* Header Media 768 */


  /* Footer Media 768 */
.footerContainer{
  position: fixed;
  bottom: 0;
}
  .footerContainer p{
    display: none;
  }
  .footerMediaLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .footerMediaLinks a{
    color: white;
  }
  .footerMediaLink{
border-top-left-radius: 50%;
border-top-right-radius: 50%;
    transition: 0.3s;
  cursor: pointer;
}
  .footerMediaLink:hover{
    transition: 0.3s;
  }

  .borderLinkActive{
    border-bottom: 1px solid white;
    font-size: 32px !important;
  }
/* Footer Media 768 */




}
/* Media 768 */
